venv
.venv
__pycache__
__pycache__/
/__pycache__
.env
*.env
python_documentation
/python_documentation
python_documentation/
chat_history_archive
/chat_history_archive/
chat_history_archive/
/chat_history_archive
my_vectorstore
/my_vectorstore
/my_vectorstore/
my_vectorstore/